/*Fuente de letra*/
body * {
  font-family: 'Roboto', sans-serif;
}
/*Estilo para pantallas desde 768px*/
@media (min-width: 768px) {
  html {
    font-size: 1.32vw;
  }
  .navstyle {
    position: fixed;
    background-color: transparent;
  }
}
/*Estilo para pantallas hasta 767px*/
@media (max-width: 767px) {
  html {
    font-size: 4.6vw;
  }
  .navstyle {
    position: sticky;
    top: 0;
    background-color: #17a3b8!important;
  }
}
/*Clase para el color de fondo*/
.azul {
  background-color: #17a3b8!important;
}
/*Nueva clase para el cambio de color de la barra de navegación cuando abandona el carrusel*/
.newnavstyle {
  position: fixed;
  background-color: #17a3b8!important;
}
